<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Genre</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body class="genre-body">
  <%- include('partials/nav')  %>
  <a href="/genres" class="genre-delete button" data-doc="<%= genre %>">Delete Genre</a>
  <ul class="movie-list">
    <% movies.forEach((movie) => { %>
      <li class="movie-item">
        <a class="list-button" href="/movies/<%= movie.title %>">
          <div>
            <span style="color: brown; font-weight: bold;"><%= movie.title %></span>
            released in 
            <span style="font-weight: bold;"><%= movie.release_year %></span>,
            directed by 
            <span style="font-style: italic; font-weight: bold; color: green;"><%= movie.first_name %> <%= movie.last_name %></span>.
          </div>
          <img src="<%= movie.img_url %>">
        </a>
      </li>
    <% }); %>
  </ul>

  <script>
    const deleteButton = document.querySelector('a.genre-delete');

    deleteButton.addEventListener('click', (e) => {
      e.preventDefault();
      const name = e.target.getAttribute('data-doc');
      const endpoint = `/genres/${name}`;
      
      fetch(endpoint, {
        method: 'DELETE',
        headers: {
          'Content-Type': 'application/json'
        },
        body: null
      })
      .then(res => {
        res.json();
      })
      .then(data => {
        window.location.href = '/genres';
      })
      .catch(err => {
        console.error(err);
      });
    });
  </script>
</body>
</html>