<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movies</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <%- include('partials/nav')  %>

  <ul class="movie-list">
    <% movies.forEach((movie) => { %>
      <li class="movie-item">
        <a class="list-button" href="/movies/<%= movie.title %>">
          <div>
            <span style="color: brown; font-weight: bold;"><%= movie.title %></span>
            released in 
            <span style="font-weight: bold;"><%= movie.release_year %></span><br><br>
            <span style="font-style: italic; font-weight: bold; color: dimgray;"><%= movie.overview %></span>.
          </div>
          <img src="<%= movie.img_url %>">
        </a>
      </li>
    <% }); %>
  </ul>
</body>
</html>